mixin object(data)
  +b.object&attributes(attributes)
    +e.H2.title!= data.title

    +tabs.__tabs
      each tab in data.tabs
        +tab(data-tab-target=tab.id, class=(tab.isActive ? 'is-active' : false))!= tab.title

    +tabs-content.object__wrapper
      each tab in data.tabs
        +tab-wrapper(data-tab=tab.id, data-tab-group=data.tabGroup, class=(tab.isActive ? 'is-active' : false))
          +e.content
            +e.left
              if tab.textContent
                +content-zone.content-zone_dark.content-zone_object
                  each html in tab.textContent
                    != html

              if tab.tableContent
                +table
                  each item in tab.tableContent
                    +e.TR.row
                      each col in item
                        +e.TD.col(class=col.class, colspan=col.colspan)!= col.text

              if tab.tableCaption
                +e.P.table-caption!= tab.tableCaption

            +e.right
              +e.image(class=tab.image.imageClass)
                img(src=tab.image.src)

              +e.A.small-image(class=tab.smallImage.linkClass, href=tab.smallImage.link)
                img(src=tab.smallImage.src)

mixin ui-kit-object()
  +ui-section
    +ui-section-head
      +ui-title Объект
      +ui-path
        p Компонент: components/object/object

    +ui-section-content(true)
      +section.section_dark
        .container
          +object(getData('objects')[0])

    //- При +ui-section-content(true) контейнер отсутствует
    //- Для перечисления инлайновых блоков используется миксин +ui-elements-list()
    //- Рамка вокруг особой секции: +ui-special()
